.selector-for-some-widget {
    box-sizing: content-box;
}


/*
Colors Polair
btn-primary, h1 #384978

project title #FF5A32

#384978 blue
#5F7CCC light blue hover
#565656; grey
#e84922 orange
#5C949A;



 font-family: 'Roboto Condensed', sans-serif;

 font-family: 'Open Sans Condensed', sans-serif;

 font-family: 'Fjalla One', sans-serif;


*/

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    margin: 0 auto;
}

p{
    display: block;
    margin:0;
}
.container{
    margin:0px auto;
    padding:0px;
    
}

.container-fluid{
    margin:0px auto;
    padding:0px;
}

.default-page{
        background: #f2f2f2;   
        margin:0px auto;
    }

.main{
    background: #f2f2f2;  
}

header{
    left:0px;
    right: 0px;

}

nav {
    font-weight: 300;
    font-size: 1.25em;
    box-shadow: 2px 2px 2px rgba(71, 68, 61, 0.5);
    -webkit-box-shadow: 2px 2px 2px rgba(71, 68, 61, 0.5);
    -moz-box-shadow: 2px 2px 2px rgba(71, 68, 61, 0.5);
}

nav.bg-blue {
    background-color: #384978;
    padding:0px;
}

a,
a:hover {
    color: #5F7CCC;
}

a.dropdown-item {
    color: #565656;
}

a.dropdown-item:hover {
    color: #384978;
}
.right-column-item a::before{
    content: ">>";
    padding-right:3px;
    margin-left:5px;
}

h2 {
    color: #e84922;
    font-size: 1.6rem;
}

.white {
    color: rgba(255, 255, 255, 0.8);
}

h1 {
    color: #e84922;
    font-size: 2rem;
}

h1.header-tekst{
    padding:50px 0px 0px 0px;
    margin-left:1em;
    color:rgba(232,73,34,0.8);
}

h2,h5{
    color:#384978;
}

h2.ncp {
    color: rgb(56, 73, 120);
    font-size: 1.5rem;
}

h3{
    font-size:1.1em;
    color:#4B5161;
    font-weight: bold;
}

.left-column-content p{
    padding:1.5em 0em;
    line-height: 1.5em;
}

.carousel-caption h5 {
    font-size: 1.3em;
}

header div.bd-carousel {
    margin-top: 78px;
}

header .header-banner{
    margin-top: 78px;
    background-image: url(../images/banner/polair-beveiliging-banner-2.png);
    height: 150px;
    width: 1600px;
}


div.header-banner img{
    width: 100%;
}
.carousel-item {
    height: 50vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item .carousel-caption h5,
.carousel-item .carousel-caption p {
    font-size: 1.3em;
    color: #D6CCB7;
    text-shadow: 2px 2px 2px rgba(71, 68, 61, 0.5);
}

.carousel-item .carousel-caption h5 {
    font-size: 2em;
}

.carousel-control-next>.carousel-control-next-icon,
.carousel-control-next>.carousel-control-next-icon:hover,
.carousel-control-prev>.carousel-control-prev-icon,
.carousel-control-prev>.carousel-control-prev-icon:hover {
    fill: #e84922;
}

article div.container-fluid {
    padding: 0px;
}

.wrapper {
    display: flex;
    background: linear-gradient( rgba(56, 73, 120, 0.7),rgba(232, 236, 238, 0.2));
    min-height: 15vh;
    xborder: solid 1px black;
}

.wrapper .content-wrapper {
    width: 100%;
    margin: 0 auto;
    xborder: solid red 1px;
}

.wrapper .content-wrapper p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    text-align: center;
    padding: 20px 0px;
    color: #47443D;
    font-weight: 700;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.ncp {
    float: left;
}

.cards .card {}

.btn-orange {
    background-color: #e84922;
    border-color: #ff8e72;
    color: #fff;
}

.btn-light-blue {
    background-color: #97A3C4;
    color: #fff;
    border-color: rgb(209, 211, 218);
}

.btn-orange:hover {
    background-color: #932E16;
    border-color: #935242;
    color: #fff;
}

footer {
    min-height: 10vh;
    background: radial-gradient(rgba(210, 210, 210, 0.4), rgba(242, 242, 242, 0.4));
    color: #47443D;
}

.footernav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footernav ul li,
.footernav ul li a {
    display: inline;
    margin: 20px 0px 20px 5px;
    font-size: 0.80rem;
}

.footernav ul li:after {
    content: " |"
}

.footernav .list {
    margin-top: 10px;
}

.footernav ul.list>li:first-child {
    xmargin-left: 10px;
}

div.copyright {
    font-size: 0.80rem;
    font-weight: bold;
    margin-top: 5px;
}

section.bottom-section {
    background: #384978;
    min-height: 35vh;
}


.block {
    padding: 25px 0 20px;
    background-color: #fff;
}

.block-default-page {
    padding: 15px 0 20px;
    background-color: #fff;
}

.arrow-after {
    position: relative;
}

.arrow-after svg.arrow polygon {
    fill: #fff;
}

.arrow-after .arrow {
    position: absolute;
    left: 50%;
    bottom: -25px;
    margin-left: -50px;
    z-index: 99;
    xborder: solid yellow 1px;
}

.content-page{
    background:#fff;
    xborder:solid 1px black;
    margin: 0px auto;
}
 div.content-page h1{
     padding-top:10px;
 }

 .content-page .right-column{
    background: rgb(228,228,232);
    background: linear-gradient(90deg, rgba(228,228,232,0.7) 10%, rgba(255,255,255,1) 50%, rgba(228,228,232,0.7) 100%);
    border-right:solid rgb(228,228,232,1) 2px;
    border-left: solid rgb(228,228,232,1) 2px;
    margin-bottom:10px;
    margin-right:10px;
    
 }

 .content-page .right-column .right-column-item{
     padding:10px 5px 0px 7px;
     margin:0px;
     
 }

 .content-page .right-column .top{
     margin-top:10px;
 }
 .content-page .right-column .bottom{
    padding-bottom:50px;
    border-bottom:solid 1px #d1d1d1;
}
 .content-page .right-column .right-column-item:nth-of-type(1n){
     xbackground:#ff00ff;

 }

.right-column-item .btn{
     padding: 3px 6px;
     xborder:solid red 1px;
 }

hr.style-line{
    border:0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(89, 92, 100, 0), rgba(89, 92, 100, 0.75), rgba(89, 92, 100, 0));
}
 .content-page .left-column{
     margin:10px;
}
.bottom-line{
    border-left:solid  rgba(89, 92, 100, 1.0) 2px;
}

.alignleft{
    float:left;
    margin: 5px 15px 5px 0px;
}

.alignright{
    float:right;
    margin: 5px 0px 5px 15px;
}

.framed{
    background: white;
    border:solid 2px #d1d1d1;
    display: inline-block;
    padding:5px;
}
.caption{
    color:#d2d2d2;
    font-size:0.8em;
    text-align: center;
}

p.caption-tekst{
    padding:3px 0px;
    margin:0;
    border-top: solid 1px #d2d2d2;
}

div.caption > img{
    margin-bottom:7px;
}