/** mobile wijzigingen **/

@media screen and (max-width: 576px) {
    .carousel-item {
        height: 30vh;
    }
    .wrapper .content-wrapper {
        width: 100%;
    }
    .mb-4 {
        margin-bottom: 0.2rem !important;
    }
    .mt-4 {
        margin-top: 0.25rem !important;
    }
    .ml-xs-1 {
        margin-left: 0.25em !important;
    }
    .header-banner h1.header-tekst {
        font-size: 2.0em;
        margin-left:0%;
    }
    img.standalone {
        width: 30% !important;
        margin: 0.2em !important;
    }
    .icons-noshow,
    .top-banner, .mobile-non-view, .right-column {
        display: none;
    }

    .banner-content{
        margin-left: 30%;
    
    }
    .top{
        margin-top:80px;
    }
    .iframe-width{
        width:100%; 
    }
}