@media screen and (min-width: 576px) and (max-width: 1024px) {
  .carousel-item{

	height: 30vh;
 
  }

    .wrapper .content-wrapper{
  	width:100%;

  }

    .cards{
  }

  .header-banner h1.header-tekst{
    font-size: 2.0em;
    margin-left:0%;
  }

  .sm-space{
    margin-top:1.5em;
  }

  .banner-content{
    margin-left: 50%;
    max-width: 50%;

}

 }